.item-container{
    padding: 10px;
    margin:5px
}
.item{
    padding: 10px;
    border:2px solid brown;
    border-radius: 10px;
    background-color: rgb(227, 215, 215);
}
button{
    cursor: pointer;
    background-color: rgb(203, 241, 132);
    font-size: large;
    border-radius: 5px;
}
button:hover{
    scale:1.1
}